/*Responsiveeeeeee*/

@media only screen and (max-width: 600px) {
    /* Your responsive styles go here */
    body {
      font-size: 15px; /* Adjust font size for small screens */
    }
    nav {
      font-size: 10px;
    }
    .footer2 {
      display: flex;
      flex-direction: column;
    }
   
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .product-container {
    display: flex;
    justify-content: space-around;
    
  }
  
  header{
    display: flex;
    justify-content: space-around;
    display
  
   
  }
  
  
  
  
  /*Responsiveeeeeeeee*/
  
  
  
  
  
  
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
    }
    
    nav {
      background-color: #555;
      color: #fff;
      padding: 10px;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    
    nav a {
      text-decoration: none;
      color: #fff;
    }
    nav ul :hover{
      transform: scale(1.1);
      color: red;
      transition: 0.5s;
    }
    
    section.products {
      padding: 20px;
    
    }
    
    .products h2 {
      text-align: center;
    }
    
    .product-container {
      display: flex;
      justify-content: space-around;
      
    }
    
    .product {
      
      padding: 10px;
      text-align: center;
      box-shadow: 0 2px 3px black;
    }
  
  
  
  /*  Butoniiiiii */
  /*  Butoniiiiii */
  /*  Butoniiiiii */
  
  .button {
      border: none;
      color: green;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
  
  
  
  /*FOOOOOTERIIIII */
  /*FOOOOOTERIIIII */
  /*FOOOOOTERIIIII */
  
    
    footer {
      display: flex;
      flex-direction:column;
      background-color: black;
      align-items: center;
      color: white;
    }
    
    .footer1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      margin-top: 15px;
    }
    .social-media {
      display: flex;
      justify-content: center;
      color: white;
      flex-wrap: wrap;
      
    }
    .social-media img {
      width: 40px;
      
    }
    .social-media a {
      color: white;
      margin: 20px;
      border-radius: 5px;
      margin-top: 10px;
      color: white;
    }
    .social-media a ion-icon {
      color: white;
      background-color: black;
    }
    .social-media a:hover ion-icon {
      color: red;
      transform: translateY(5px);
    }
    .footer2 {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      text-decoration: none;
      flex-wrap: wrap;
    }
    .footer0 {
      font-weight: 1200;
      transition-duration: 1s;
    }
    .footer0:hover {
      color: rgb(7, 101, 243);
    }
    .footer2 .heading {
      font-weight: 900;
      font-size: 18px;
    }
    .footer3 {
      margin-top: 60px;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer2 .heading:hover {
      color: rgb(7, 101, 243);
    }
    .footer2 .div:hover {
      transform: scale(1.05);
    }
    .footer3 h4 {
      margin: 0 10px;
    }
  
  
  
    /*
    Testojme
    Testojme
    Testojme
  
    */
  
  .aboutustext{
    display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 10px;
      
      
      
  }
  .aboutustext p {
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 15px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-bottom: 15px;
  
    
  }
  
  /*Sliderrrr*/
  
  
  .sllajder
  {
  align-items: center;
  
  
  }
  
  .sllajder img
  {
  max-width: 550x350;
  margin-right: 4cm;
  
  }
  #button1{
    border-radius: 5px;
    margin-top: 4.4cm;
  width: 45px;
  height: 40px;
  font: 7pt;
  }
  #button1:hover{
    background-color: #000;
    color: white;
    transition: 0.3s;
    transform: scale(1.05);
  }
  
  #transparent{
    background-color: transparent;
    background: rgba(255, 255, 255, 0);
  }
  
  
  
  
  
  
  
  
     
  
  
  
  
  
  
    
  